[user]
	email = nickywanlin14@gmail.com
	name = Nickywanlin12
[safe]
	directory = /storage/emulated/0/NICKY
	directory = /storage/emulated/0/NICKY
	directory = /storage/emulated/0/NICKY
	directory = /storage/emulated/0/NICKY
